<div class="containerInstituto">
        <div class="home">
            <div class="logo logoHomeStudent">
                <img src="/images/SafeStudentScude.png">
            </div>
            <div class="headerInfo">
                <div class="fotoynombre">
                    <img src="/images/cecyte.png" alt="">
                    <h1>Plantel Huejutla</h1>
                </div>
                <div class="infoAlumno">
                    <p class="infoTitle">CLAVE</p> 
                    <p class="infoTitle">Region</p>
                    <p class="infoTitle">Estado</p>
                    <p id="semestre">ESP-8266</p>
                    <p id="grupo">5</p>
                    <p id="nocontrol">Hidalgo</p>
                </div>
            </div>
            <div class="menuOptions">
                <h1>Bienvenida ¿Qué desea realizar?</h1>
                <a href="./aviso">Enviar aviso General</a>
                <a href="./reporte">Enviar reporte a alumno</a>
                <a href="./boleta">Subir Boletas</a>
                <a href="#">Cerrar Sesión</a>
            </div>
        </div>
    </div>