@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body .containerHome h1, body h2 {
  font-weight: 700;
  font-size: 20px;
}

body h4 {
  font-weight: 700;
  font-size: 16px;
}

body p {
  margin-bottom: 0;
}

/* ESTILOS PARA LOGIN */

.loginBody{
    background-image: url(/images/Student-PNG-Image-File.webp);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
    background-color: #f6f8fa;
}

.container{
    width: 100%;
    height: 100vh;
    padding: 0px;
}

.login{
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-rows: 15% 20% 22%;
    height: 100%;
}

.header{
    width: 100%;
    text-align: center;
}

.header a, .header button{
  cursor: pointer;
}

.logo{
    display: flex;
    justify-content: center;
}

.logo > img {
    width: 300px;
}

.selectionUser{
    width: 30%;
    height: 100%;
    background-color: transparent;
    border:0px solid;
    border-radius: 30px;
    padding: 14px;
    font-size: 12px;
    background-color: transparent;
    color: black;
}

.padre{
    background-color: #312783;
    color: white;
}

.institucion{
    background-color: #312783;
    color: white;
}

.option{
    color: #312783;
}

.form{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    padding: 0px 20px;
}

.form input{
    font-size: 14px;
    padding: 10px;
    border: 1px solid #312783;
    border-radius: 10px;
}

.form .loginBtn {
    height: 40px;
    width: 100%;
    background-color: transparent;
    border: 1px solid;
    border-radius: 10px;
    font-size: 14px;
    background-color: rgba(255, 255, 255, 0.8);
}

.form .loginBtn:active{
    background-color: #958be4;
}

.bienvenida{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    padding: 10px 20px;
    margin: 0px 10px;
    text-align: justify;
    line-height: 22px;
    color: #333;
    background-color: rgba(125, 99, 197, 0.1);
    border-radius: 20px;
}

/* ESTILOS PARA HOMESTUDENT */

.containerHome{
    width: 100%;
    height: 100%;
}

.bodyHome{
    background-color: #f6f8fa;
}

.home{
    display: grid;
    align-items: center;
    grid-template-rows: .1fr .1fr .1fr .1fr .5fr;
    width: 100%;
    height: 100%;
    padding: 20px 20px;
}

.logoHomeStudent img{
    width: 50%;
    margin-bottom: 20px;
}

.headerInfo{
    color: #333;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    background-color:#f6f8fa;
    border-radius: 10px;
    border: 1px solid #d8e0e9;
}

.fotoynombreStudent{
  display: grid;
  grid-template-columns: 25% 75%;
  align-items: center;
}

.fotoynombreStudent img{
  width: 100%;
  border-radius: 10px;
}

.fotoynombre{
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: center;
    align-items: center;
}

.fotoynombreStudent h1{
  padding: 0px 20px;
  font-size: 24px;
}

.fotoynombre img{
    width: 60%;
    border-radius: 10px;
}


.infoAlumno{
    display: grid;
    justify-items: center;
    grid-template-columns: 30% 30% 40%;
    grid-template-rows: 50% 50%;
    margin: 20px 0 20px 0;
}

.infoAlumno .infoTitle{
    font-weight: bold;
}

.expandibles{
    margin-top: 20px;
    border: 1px solid #d8e0e9;
    padding: 10px;
    border-radius: 10px;
}

.noticias{
  margin-top: 20px;
}

.reporte summary{
    color: red;
}

.reporte p{
    border-left: 2px solid red;
    color: #333;
}

.bienvenidaApp summary{
  color: green;
}

.bienvenidaApp p{
  border-left: 2px solid green;
  color: #333;
}

.titulo{
    color: #333;
    font-size: 12px;
    border-bottom: 1px solid #dee2e7;
    padding-bottom: 10px;
}

  .entradasysalidas{
    display: flex;
    flex-direction: column;
    border: 1px solid #d8e0e9;
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
  }

  .entradasysalidas .fecha{
    margin-top: 10px;
    text-align: center;
  }

  .infoEntradasySalidas{
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
    padding-bottom: 15px;
  }

  .infoEntradasySalidas .tituloCheck{
    display: grid;
    grid-template-columns: 40% 50% 10%;
    align-items: center;
  }

  .salida{
    margin-top: 15px;
  }

  .tituloCheck img{
    width: 70%;
  }

  .tituloCheck h4{
    margin-bottom: 0;
  }

  .detailHomeStudent { 
    background-color: #f6f8fa;
    width: 100%;
    margin-bottom: 10px; 
    border-radius: 8px;  
    border: 1px solid #d8e0e9;
    color: #333;
    position: relative;  
  }
  .detailHomeStudent summary {  
    font-weight: 400;
    font-size: 14px;
    padding: 15px;
    cursor: pointer;
    list-style: none;
    width: 90%;
  }
  details p{
    padding: 1rem;
    margin: 0 1rem 1rem 1rem;
    background: #f6f8fa;
    border-left: 2px solid #364f6b;
    text-align: justify;
  }

  details iframe {
    margin: 0 1rem 1rem 1rem;
    background: #f6f8fa;
  }
  
  details[open] {
    box-shadow: 5px 5px 15px #d9d9d9;
    background: #ffffff;
  }
  
  details[open] summary {
    font-weight: 600;
  }

  details[open] summary {
    font-weight: 600;
    padding: 10px 10px;
  }
  
  .detailHomeStudent summary::before {
    position: absolute;
      content: "↓";    
      font-size: 1.75rem;
      top: 5px;
      right: 16px;  
  }
  
.historialDiv{
    display: flex;
    padding-top: 5px;
    justify-content: center;
    border-top: 1px solid #dee2e7;
}

  .historial{
    color: #312783;
    text-decoration: none;
  }

  .expandibles .cajones{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }

  .expandibles .cajones a {
    padding: 5px 15px;
    text-decoration: none;  
  }

  .expandibles .cajones a::after{
    content: url(https://www.compart.com/en/unicode/images/icon/document-link-icon.svg);
    margin-left: 5px;
  }

  details[open] summary::before {
    -webkit-animation: rotate 0.6s ease-in-out both;
            animation: rotate-emoji 0.6s ease-in-out both;
  }
  
  @-webkit-keyframes rotate-emoji {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg);
    }
  }


/* HISTORIALES ESTILOS */

.historiales{
  width: 100%;
  height: 100%;
}

.historialPage{
  margin: 20px 20px;
  padding: 20px 20px;
  border: 1px solid #dee2e7;
  border-radius: 10px;
  height: 100%;
}

.historialPage .tituloHistorial{
  display: flex;
  justify-content: center;
}

.historialPage h4{
  margin-top: 20px;
  font-family: 'Inter', sans-serif;
}

.buscador{

  padding-top: 15px;
  border-top: 1px solid #dee2e7;
}

.buscador form{
  display: grid;
  grid-template-columns: 80% 20%;
  justify-content: space-between;
}

.buscador .col-sm-6{
  padding-left: 0px;
}

.buscador .col-sm-6 .form-group {
  margin-bottom: 0px;
}

.actionButton{
  padding: 5px;
  width: 100%;
  background-color: transparent;
  border: 1px solid #dee2e7;
  border-radius: 5px;
  color: #312783;
  text-decoration: none;
}

.solosinregistro{
  padding-top: 10px;
}

.solosinregistro input{
  color: red;
}

.backButton{
  display: flex;
  justify-content: center;
  border-color: transparent;
  padding-top: 0px;
}

.backButton input{
  padding: 8px;
}

.actionButton:active{
  background-color: #dee2e7;
}

.form-group{
  margin-bottom: 0px;
}

.col-sm-6{
  padding-left: 0px;
}

.historialDetails{
  padding-top: 20px;
  overflow: hidden;
}

.boletapdf[open]::before {
  position: absolute;
  content: "↑";
  font-weight: 600;
  margin-left: 65%;
  margin-top: 10px;
  padding-bottom: 10px;
  overflow: hidden;
}

.sinregistro{
  color: red;
}

.table tbody tr td .actionButton{
  padding: 0px;
}

/* HOME INSTITUTO */

.avisoStructure {
  width: 100%;
  margin-top: 20px;
}

.nota{
  color: #333;
  width: 100%;
  padding: 10px;
  background-color:#f6f8fa;
  border-radius: 10px;
  border: 1px solid #d8e0e9;
  margin-top: 20px;
}

.titleAviso{
  margin-top: 20px;
}

.titleAviso span {
  font-weight: bold;
}

.titleAviso input{
  font-size: 16px;
  margin-left: 10px;
  width: 280px;
}

.titleAviso input:focus{
  outline: 0;
}

.message{
  margin-top: 20px;
}

.optionsBtn{
  border: 1px solid #dee2e7;
  border-radius: 10px;
  margin-top: 20px;
}

.optionsBtn a{
  display: block;
  text-align: center;
  text-decoration: none;
  font-weight: bolder;
  font-size: 18px;
  padding: 20px;
  color: #312783;
}

.containerInstituto{
  display: flex;
  justify-content: center;
}

.containerInstituto .home{
  grid-template-rows: .15fr .1fr 1fr;
}

.containerInstituto .home .menuOptions {
  display: grid;
  grid-template-rows: .5fr 1fr 1fr 1fr;
  width: 100%;
  justify-content: center;
  text-align: center;
  margin-top: 40px;
}

.containerInstituto .home h1, .containerInstituto .home .avisoStructure h1 {
  color: rgb(40, 40, 40);
  font-size: 24px;
  text-align: center;
}

.containerInstituto .home .menuOptions a {
  width: 100%;
  background-color: #f6f8fa;
  padding: 20px;
  margin-top: 30px;
  border-radius: 20px;
  text-decoration: none;
  font-weight: bold;
}

.containerInstituto .home .menuOptions a:last-child {
  color: red;
}

@media (min-width: 768px) {
  .logoHomeStudent img{
    width: 30%;
    margin-bottom: 20px;
  }
  .headerInfo {
    display:grid;
    grid-template-columns: 30% 70%;
  }

  .home{
    grid-template-rows: .2fr .2fr .2fr .2fr .2fr;
    width: 50%;
  }

  .message{
    padding: 20px;
    border: 1px solid #dee2e7;
    border-radius: 10px;
  }

 .textarea{
    width: 100%;
    height: 300px;
    resize: none;
    border: 1px solid #dee2e7;
    border-radius: 10px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    padding: 10px;
  }

  .textarea:focus{
    outline: 0;
  }
  
  .login{
    width: 1000px;
    
  }

  .historiales{
    display: grid !important;
    height: 100vh;
    width: 60% !important;
  }

  .backButton{
    padding-top: 20px;
  }

  .container{
    display: flex;
    width: 100%;
 /*    justify-content: center; */
    align-content: center;
  }
  .loginBody{
    background-size: auto;
    background-repeat: no-repeat;
    background-position: bottom right;
  }

  @media screen and (-webkit-min-device-pixel-ratio:0) {
    select:focus,
    textarea:focus,
    input:focus {
      font-size: 16px;
    }
  }
  .tituloCheck img{
    width: 35%;
  }

}

@media (min-width: 800px) {
  .containerHome{
      display: flex;
      justify-content: center;
  }
  .containerPc{
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
      font-weight: bold;
  }
}
