<head>
    
</head>

<div class="container">
    <div class="header">
        <img src="/images/SafeStudentScude.png" alt="Logotipo de SafeStudent">
    </div>
    <div class="padres cards pccontainer">
        <div class="card cardinfo">
            <div class="img1">
                <img src="/images/BANNER.png" alt="" srcset="">
            </div>
            <div class="info1">
                <h1>El mejor sistema para el control de entradas y salidas en instituciones educativas.</h1>
                <article>

                    Gracias a SafeStudent cualquier institución educativa de México puede tener un control de entradas y
                    salidas a un precio accesible. <br><br>
                    La plataforma de SafeStudent esta orientado a padres de familia o tutores que siempre buscan cuidar
                    la integridad de sus hijos. En la plataforma podrán visualizar las horas en las que se registro la
                    entrada y salidas de sus hijos así como avisos o reportes de la institución educativa, de igual
                    manera podrá visualizar información academica actualizada del estudiante.

                </article>
            <div class="actionBtn">
                <a href="http://wa.me/7711154153"><button class="btn contratar">Contratar</button></a>
                <a href="/login"><button class="btn ingresar">Ingresar</button></a>
            </div>
            </div>
        </div>
    </div>
    <div class="cardinfo mobilecontainer">
        <h1>El mejor sistema para el control de entradas y salidas en instituci educativas</h1>
        <article>
            Gracias a SafeStudent cualquier institución educativa de México puede tener un control de entradas y salidas
            a un precio accesible. <br><br>
            La plataforma de SafeStudent esta orientado a padres de familia o tutores que siempre buscan cuidar la
            integridad de sus hijos. En la plataforma podrán visualizar las horas en las que se registro la entrada y
            salidas de sus hijos así como avisos o reportes de la institución educativa, de igual manera podrá
            visualizar información academica actualizada del estudiante.
        </article>
    </div>
    <div class="actionBtn">
        <a href="#"><button class="btn contratar">Contratar</button></a>
        <a href="/login"><button class="btn ingresar">Ingresar</button></a>
    </div>
    <div class="ejemplo">
        <img src="/images/bannermobile.png" alt="">
    </div>
    <div class="infocards">
            <h1>Caracteristicas</h1>
<div class="cards">

        <div class="card cardinfo">
            <img src="/images/notifications.png" alt="">
            <h1>Notificaciones</h1>
            <article>
                Como padre de familia o tutor reciba notificaciones mediante SMS cuando su hijo entre o salga de la
                institucion, asi como de avisos o reportes que sean enviados por parte de la institucion educativa.
            </article>
        </div>
        <div class="card cardinfo">
            <img src="/images/datosAc.png" alt="">
            <h1>Datos academicos</h1>
            <article>
                Como padre de familia o tutor podrá visualizar la información academica más reciente del estudiante así
                como un historial de la misma, obtenga datos de calificaciones, materias riesgosas o consejos de
                psicologos para una mejor educación a sus hijos.
            </article>
        </div>
        <div class="card cardinfo">
            <img src="/images/promotion.png" alt="">
            <h1>Mejor promoción</h1>
            <article>
                Como institución educativa podrá obtener una mejor posición por encima de otros institutos que aun no
                usen SafeStudent, obtenga un plus sobre otros institutos y obtenga una mayor promoción al momento de
                nuevos ingresos a ciclos escolares.
            </article>
        </div>
        <div class="card cardinfo">
            <img src="/images/reduction.png" alt="">
            <h1>Reducción de faltas</h1>
            <article>
                Como institución educativa podrá ver reducidas las faltas de alumnos ya que tendrán un mayor sentido de
                responsabilidad y compromiso con su deber que es el asistir a la escuela.
            </article>
        </div>
        <div class="card cardinfo">
            <img src="/images/comunication.png" alt="">
            <h1>Mejor comunicación con padres de familia</h1>
            <article>
                Como institución educativa podrá mejorar la comunicación con padres de familia. Utilizando nuestra
                plataforma podrá enviar avisos generales sobre juntas o cualquier otra reunion, de igual manera podrá
                enviar reportes de alumnos de manera instantanea.
            </article>
        </div>
    </div>
    </div>
    
    <div class="funcionamiento card cardinfo">
        <h1>¿Cómo funciona?</h1>
        <ol>
            <li><a href="#">Contrata</a> SafeStudent</li>
            <li>Nuestro equipo de trabajo lo instala en tu instituto</li>
            <li>Configuramos el sistema</li>
            <li>Capacitamos a personal y padres de familia para el uso del sistema</li>
            <li>¡Listo!</li>
            </ul>
    </div>
    <div class="padresinfo">
<div class="padres cards">
        <div class="card cardinfo">
            <h1>Para padres</h1>
            <article>
                <ol>
                    <li>Consulta entradas y salidas de tus hijos.</li>
                    <li>Recibe notificaciones cuando tus hijos ingresen o salgan de la escuela.</li>
                    <li>Recibe avisos sobre juntas o asuntos importantes por parte de la institución.</li>
                    <li>Recibe reportes sobre situaciones de mala conducta de tu hijo en la escuela.</li>
                    <li>Revisa las calificaciones de tus hijos de manera online.</li>
                    <li>Rastreador en el uniforme.</li>
                </ol>
            </article>
        </div>
    </div>
    <div class="padres cards">
        <div class="card cardinfo">
            <h1>Para Institutos</h1>
            <article>
                <ol>
                    <li>Envia reportes sobre alumnos de manera directa a padres de familia. ¡Adios avisos en papel!</li>
                    <li>Envia avisos sobre juntas o situaciones importantes del instituto directamente a padres de
                        familia.</li>
                        <li>Visualiza estadisticas de asistencias y faltas.</li>
                    <li>Reduce las faltas de los alumnos o las salidas (escapes).</li>
                    <li>Mejora la comunicación con padres de familia.</li>
                    <li>Aumenta a 100% la cantidad de alumnos responsables.</li>
                </ol>
            </article>
        </div>
    </div>
    </div>
    
    <div class="clientes cardinfo">
        <h1>Escuelas que confian en nosotros</h1>
        <div class="cecyte card cardinfo">
            <span>CECYTE HUEJUTLA</span>
            <img src="/images/cecyte.png" alt="">
        </div>
        <div class="cbta card cardinfo">
            <span>CBTA HUEJUTLA</span>
            <img src="/images/cbta.png" alt="">
        </div>
        <div class="cobaeh card cardinfo">
            <span>COBAEH HUEJUTLA</span>
            <img src="/images/cobehs.png" alt="">
        </div>
    </div>
    <div class="footer">

    </div>
</div>